:root {
  --square-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ljdr-container {
  display: flex;
}

.ljdr-board {
  width: calc(var(--square-size) * 8);
  height: calc(var(--square-size) * 8);
  background-image: url("/assets/svg/boards/green.svg");
  background-size: cover;
  cursor: pointer;
}

.ljdr-piece {
  width: var(--square-size);
  height: var(--square-size);
  position: absolute;
  background-size: cover;
  user-select: none;
}

.ljdr-ghost {
  width: var(--square-size);
  height: var(--square-size);
  background-size: cover;
  opacity: 0.5;
  position: absolute;
}

.ljdr-last-move {
  width: var(--square-size);
  height: var(--square-size);
  background: rgba(155, 199, 0, 0.41);
  background-size: cover;
  position: absolute;
}

.animate {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  z-index: 10;
}

.fade {
  opacity: 0.5;
}

.drag {
  z-index: 10;
}

.white.king {
  background-image: url("/assets/svg/pieces/Chess_klt45.svg");
}

.black.king {
  background-image: url("/assets/svg/pieces/Chess_kdt45.svg");
}

.white.queen {
  background-image: url("/assets/svg/pieces/Chess_qlt45.svg");
}

.black.queen {
  background-image: url("/assets/svg/pieces/Chess_qdt45.svg");
}

.white.rook {
  background-image: url("/assets/svg/pieces/Chess_rlt45.svg");
}

.black.rook {
  background-image: url("/assets/svg/pieces/Chess_rdt45.svg");
}

.white.bishop {
  background-image: url("/assets/svg/pieces/Chess_blt45.svg");
}

.black.bishop {
  background-image: url("/assets/svg/pieces/Chess_bdt45.svg");
}

.white.knight {
  background-image: url("/assets/svg/pieces/Chess_nlt45.svg");
}

.black.knight {
  background-image: url("/assets/svg/pieces/Chess_ndt45.svg");
}

.white.pawn {
  background-image: url("/assets/svg/pieces/Chess_plt45.svg");
}

.black.pawn {
  background-image: url("/assets/svg/pieces/Chess_pdt45.svg");
}
